CONFIG_IDF_TARGET="esp32"
CONFIG_IDF_TARGET_LINUX=n
CONFIG_WEBSOCKET_URI_FROM_STDIN=y
CONFIG_WEBSOCKET_URI_FROM_STRING=n
CONFIG_EXAMPLE_CONNECT_ETHERNET=y
CONFIG_EXAMPLE_CONNECT_WIFI=n
CONFIG_EXAMPLE_USE_INTERNAL_ETHERNET=y
CONFIG_EXAMPLE_ETH_PHY_IP101=y
CONFIG_EXAMPLE_ETH_MDC_GPIO=23
CONFIG_EXAMPLE_ETH_MDIO_GPIO=18
CONFIG_EXAMPLE_ETH_PHY_RST_GPIO=5
CONFIG_EXAMPLE_ETH_PHY_ADDR=1
CONFIG_EXAMPLE_CONNECT_IPV6=y

#
# FATFS options
#
CONFIG_FATFS_MAX_LFN=255
CONFIG_FATFS_LFN_STACK=y

#
# Ethernet W5500 connection
#
CONFIG_EXAMPLE_ETH_SPI_HOST=2
CONFIG_EXAMPLE_ETH_SPI_SCLK_GPIO=18
CONFIG_EXAMPLE_ETH_SPI_MOSI_GPIO=23
CONFIG_EXAMPLE_ETH_SPI_MISO_GPIO=19
CONFIG_EXAMPLE_ETH_SPI_CS_GPIO=5
CONFIG_EXAMPLE_ETH_SPI_CLOCK_MHZ=20
CONFIG_EXAMPLE_ETH_SPI_INT_GPIO=17
CONFIG_EXAMPLE_ETH_PHY_RST_GPIO=-1
CONFIG_EXAMPLE_ETH_PHY_ADDR=37

#
# SD card default pin numbers (HSPI bus)
#
CONFIG_SDCARD_PIN_MOSI=13
CONFIG_SDCARD_PIN_MISO=12
CONFIG_SDCARD_PIN_CLK=14
CONFIG_SDCARD_PIN_CS=15

#
# Define ports for buttons and leds
#
CONFIG_AUTOMODE_PIN_LED=22
CONFIG_ANT1_PIN_LED=27
CONFIG_ANT2_PIN_LED=26
CONFIG_ANT3_PIN_LED=25
CONFIG_ANT4_PIN_LED=33
CONFIG_ANT5_PIN_LED=32
CONFIG_ANT6_PIN_LED=16