menu "SD Card Configuration"

    config SDCARD_PIN_MOSI
        int "MOSI GPIO number"

    config SDCARD_PIN_MISO
        int "MISO GPIO number"

    config SDCARD_PIN_CLK
        int "CLK GPIO number"

    config SDCARD_PIN_CS
        int "CS GPIO number"

endmenu
